<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  This project was created by
  <a href="http://github.com/kevinvanderlugt">Kevin VanderLugt</a>. 
  This is the sample application from ruby.railstutorial.org.
</p>