<%= render 'shared/error_messages', object: form.object %>
<%= form.label :name %>
<%= form.text_field :name %>

<%= form.label :email %>
<%= form.text_field :email %>

<%= form.label :password %>
<%= form.password_field :password %>

<%= form.label :password_confirmation, "Confirm Password" %>
<%= form.password_field :password_confirmation %>