<% provide(:title, "Sign Up") %>
<h1>Sign Up</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |form| %>
			<%= render 'field', form: form %>
			<%= form.submit "Sign Up!", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
