<% if current_user?(micropost.user) %>
  <%= link_to "delete", micropost, method: :delete,
                                    data: { confirm: "Are you sure?" },
                                    title: micropost.content %>
<% end %>