<footer class="footer">
	<small>
		Sample application from rails tutorial
	</small>

	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>	
	</nav>